:root {
  --opacity-slide: 0.5;
  --height-slider: 500px;
  --color-slider: #ff3e00;
  --height-responsive: 500px;
}

body {
  margin: 0;
  padding: 0;
}

section.slide {
  position: relative;
  float: left;
  display: block;
  width: 100%;
  height: var(--height-slider);
}
@media only screen and (max-width: 766px) {
  section.slide {
    height: var(--height-responsive);
  }
}
section.slide .slider-container {
  width: 100%;
  height: 100%;
  float: left;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background-color: #FFFFFF;
}
section.slide .slider-container .slider-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 90;
  height: 100%;
  position: relative;
}
section.slide .slider-container .slider-wrapper li {
  display: none;
}
section.slide .slider-container .slider-wrapper li.slide-current {
  display: block;
}
section.slide .slider-container .slider-wrapper li.video {
  height: 100%;
  position: relative;
  background: #000000;
}
section.slide .slider-container .slider-wrapper li.video .include {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
}
section.slide .slider-container .slider-wrapper li.video .include::before {
  top: 0;
  left: 0;
  z-index: 4;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
section.slide .slider-container .slider-wrapper li.video .include iframe, section.slide .slider-container .slider-wrapper li.video .include object, section.slide .slider-container .slider-wrapper li.video .include embed, section.slide .slider-container .slider-wrapper li.video .include video {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
}
section.slide .slider-container .slider-wrapper li img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.slide .slider-container .slider-wrapper li .capa {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 92;
  height: 100%;
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
}
section.slide .slider-container .drt-control {
  top: 40%;
  z-index: 90;
  color: white;
  padding: 30px;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background: rgba(0, 0, 0, var(--opacity-slide));
}
@media only screen and (max-width: 766px) {
  section.slide .slider-container .drt-control {
    padding: 20px;
    font-size: 20px;
  }
}
section.slide .slider-container .drt-control:hover {
  background: black;
}
section.slide .slider-container .drt-control.control-left {
  left: -20px;
  border-radius: 0px 50px 50px 0px;
}
section.slide .slider-container .drt-control.control-right {
  right: -20px;
  border-radius: 50px 0 0 50px;
}
section.slide .slider-container .slider-controls {
  z-index: 90;
  width: 100%;
  bottom: 0px;
  padding: 5px;
  text-align: center;
  margin-bottom: 0px;
  position: absolute;
  padding-bottom: 15px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 766px) {
  section.slide .slider-container .slider-controls {
    background: rgb(0, 0, 0);
  }
}
section.slide .slider-container .slider-controls li {
  zoom: 1;
  width: 25px;
  height: 8px;
  margin: 0 6px;
  cursor: pointer;
  *display: inline;
  background: #DA4453;
  text-indent: -9999px;
  display: inline-block;
  background: rgba(59, 59, 59, 0.5);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 766px) {
  section.slide .slider-container .slider-controls li {
    width: calc(25% - 40px);
  }
}
section.slide .slider-container .slider-controls li.active {
  background: var(--color-slider);
}
section.slide .slider-container .tempo-bar {
  position: absolute;
  bottom: 0px;
  height: 5px;
  background: var(--color-slider);
  width: 5px;
  z-index: 91;
  display: block;
  float: left;

 
  border-radius: 50%;
  
  
}
